@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  @include media-breakpoint-down(sm) {
    background-image: url(../../../content/images/mobile-bg-header.png);
    background-size: cover;
    padding: 20px;
  }
  @include media-breakpoint-up(md) {
    background-image: url(../../../content/images/bg-header.png);
    height: 230px;
    background-size: 100% 100%;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}
